node_modules
.next
.git
.github
coverage
*.log
.env
.env.*
.vscode
.idea
backups
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
README.md
docker-compose*.yml
Dockerfile*
.dockerignore
kube
helmcharts
devspace.yaml
.turbo
